<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Import a PCM from HTML</h4>
</div>
<div class="modal-body">
    <div ng-model="message" style="color:orangered;"></div>
    <form name="importHTML" id="importHTML" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label">Title</label>
            <div class="col-md-8">
                <input ng-model="title" class="form-control" type="text" name="title" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Product in lines ?</label>
            <div class="col-md-8">
                <input ng-model="productAsLines" type="checkbox" name="productAsLines" size="3" value="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Copy paste your code</label>
                <div>
                    <textarea ng-model="content" rows="25" name="content" style="min-width: 100%" required></textarea>
                </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-success" form="importHTML" ng-click="valid()">
        <i ng-show="loading" class="fa fa-spinner fa-pulse"></i>
        <span ng-show="!loading">Import</span>
    </button>
</div>

