
<div class="modal-header" id="createFeatureGroupModal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelModal()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.createNewFeatureGroup" | translate }}</h4>
</div>
<div class="modal-body" ng-init="checkbox = []">
    <label for="featureName">{{ "edit.title.featureName" | translate }}: </label>
    <input ng-model="featureName" type="text" id="featureName">
    <br />
    <label for="featuresSelection">{{ "edit.title.featureSelection" | translate }}: </label>
    <div class="checkbox checkbox-primary"  name="featuresSelection" ng-repeat="col in gridOptions.columnDefs | filter:isAFeature" ng-init="checkbox[col.name] = false">
        <label>
            <input type="checkbox" ng-model="checkbox[col.name]"> {{ col.name }}
        </label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelModal()">{{ "edit.button.cancel" | translate }}</button>
    <button type="button" class="btn btn-success" ng-click="addFeatureGroup(featureName, checkbox);">{{ "edit.button.apply" | translate }}</button>
</div>