<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Import a PCM from Wikipedia</h4>
</div>
<div class="modal-body">
    <div ng-model="message" style="color:orangered;"></div>
    <form name="importPcm" id="import_pcm" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="col-md-3 control-label">Page URL</label>
            <div class="col-md-9">
                <input ng-model="url" class="form-control" type="text" name="url"  id="url" required/>
            </div>
        </div>
    </form>

    <div ng-if="pcmContainers.length > 0">
        <form class="form">
            <div class="form-group">
                <label class="control-label">Please select a matrix to edit</label>
                <ul class="list-group">
                   <button ng-repeat="pcmContainerName in pcmContainerNames"
                           type="button"
                           class="btn btn-primary btn-flat btn-xs list-group-item"
                           ng-click="selectPCM(pcmContainerName.index)">
                       {{pcmContainerName.name}}
                   </button>
                </ul>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-success" form="import_pcm" ng-click="valid()">
        <i ng-show="loading" class="fa fa-spinner fa-pulse"></i>
        <span ng-show="!loading">Import</span>
    </button>
</div>

