

<div id="editor" ng-controller="EditorCtrl">

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.button.confirm" | translate }}</h4>
                </div>
                <div class="modal-body">
                    {{ "edit.warning.removeIsDefinitive" | translate }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="remove()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.confirm" | translate }}</h4>
                </div>
                <div class="modal-body">
                    {{ "edit.warning.cancelWillLoseChanges" | translate }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.no" | translate }}</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="setEdit(false, true)">{{ "edit.button.yes" | translate }}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modalNewFeature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.createNewFeature" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <label for="featureName">{{ "edit.title.featureName" | translate }}: </label>
                    <input ng-model="featureName" type="text" id="featureName">
                    <label for="featureType">{{ "edit.title.featureType" | translate }}: </label>
                    <select ng-model="featureType" name="featureType">
                        <option value="string" selected="selected">{{ "edit.type.string" | translate }}</option>
                        <option value="num">{{ "edit.type.number" | translate }}</option>
                        <option value="bool">{{ "edit.type.boolean" | translate }}</option>
                        <!--<option value="image">Image</option>-->
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addFeature()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRenameFeature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.renameFeature" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <label for="featureName">Feature name: </label>
                    <input ng-model="featureName" type="text" id="featureName" value="{featureName}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="renameFeature()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalChangeType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.renameFeature" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <label for="featureType">{{ "edit.title.featureType" | translate }}: </label>
                    <select ng-model="featureType">
                        <option value="string">{{ "edit.type.string" | translate }}</option>
                        <option value="num">{{ "edit.type.number" | translate }}</option>
                        <option value="bool">{{ "edit.type.boolean" | translate }}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="changeType()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSlider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="help-block">{{ "edit.title.selectRange" | translate }}</span>
                </div>
                <div class="modal-body">
                    <div ui-slider="slider.options" ng-model="filterSlider"></div>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-raised btn-sm">{{ "edit.title.from" | translate }} :</button>
                        <input type="number" class="btn btn-default btn-raised btn-sm" ng-blur="checkFilterSliderMin()" ng-model="filterSlider[0]"/>
                        <button class="btn btn-primary btn-raised btn-sm">{{ "edit.title.to" | translate }} :</button>
                        <input type="number" class="btn btn-default btn-raised btn-sm" ng-blur="checkFilterSliderMax()" ng-model="filterSlider[1]"/>
                    </div>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-primary btn-raised btn-sm" data-dismiss="modal"  ng-click="closeFilter()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalStringFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="help-block">{{ "edit.title.selectProducts" | translate }} :</span>
                </div>
                <div class="modal-body">
                    <div id="grid2" ui-grid="gridOptions2" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-primary btn-raised btn-sm" data-dismiss="modal" ng-click="closeFilter()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.embed" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <label for="options">Options:  </label><br />
                    <input type="checkbox" name="title" value="enableTitle" ng-model="enableTitleOption"  ng-change="updateEmbedLink()"> {{ "edit.title.showTitle" | translate }}<br />
                    <input type="checkbox" name="edit" value="enableEdit" ng-model="enableEditOption"  ng-change="updateEmbedLink()"> {{ "edit.title.allowEdition" | translate }}<br />
                    <input type="checkbox" name="export" value="enableExport" ng-model="enableExportOption"  ng-change="updateEmbedLink()"> {{ "edit.title.allowExportation" | translate }}<br />
                    <input type="checkbox" name="share" value="enableShare" ng-model="enableShareOption"  ng-change="updateEmbedLink()"> {{ "edit.title.allowSharing" | translate }}<br />
                    <input type="checkbox" name="share" value="enableConfigurator" ng-model="enableConfiguratorOption"  ng-change="updateEmbedLink()"> {{ "edit.title.allowConfigurator" | translate }}<br />
                    <input type="checkbox" name="share" value="enableCharts" ng-model="enableChartsOption"  ng-change="updateEmbedLink()"> {{ "edit.title.allowCharts" | translate }}<br />
                    <br />
                    <label for="code">Code:  </label>
                    <textarea id="code" rows="4" cols="60" ng-model="embedLink">

                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Table editor -->
    <open-compare-toolbar  ng-controller="ToolbarCtrl" ng-show="enableToolbar"></open-compare-toolbar>
    <div class="container-fluid">
        <div class="row">

            <open-compare-configurator style="margin-top:20px"  ng-controller="ConfiguratorCtrl"  ng-show="conf"></open-compare-configurator>
            <div ng-show="!configurator || (configurator && !lineView)" id="matrix"  class="grid" ng-class="{'col-md-8': configurator, 'col-md-12': !configurator}" ui-grid="gridOptions"  ng-style="{'height' : height}"  ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-auto-resize ui-grid-pinning>
                <div class="grid-overlay-msg" ng-hide="gridOptions.data.length && !loading">
                    <div class="msg">
                        <span class="loader"> Loading Data...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div ng-show="!edit">
            <p ng-if="source"><strong>Source:</strong> {{source}}</p>
            <p ng-if="license"><strong>License:</strong> {{license}}</p>
          </div>
          <form class="form-horizontal" ng-show="edit">
              <div class="form-group">
                <label for="pcm-source" class="control-label">{{ "edit.source.placeholder" | translate }}:</label>
                <input id="pcm-source" class="form-control" type="text" ng-model="source" placeholder='{{ "edit.source.placeholder" | translate }}'>
              </div>
              <div class="form-group">
                <label for="pcm-license" class="control-label">{{ "edit.license.placeholder" | translate }}:</label>
                <input id="pcm-license" class="form-control" type="text" ng-model="license" placeholder='{{ "edit.license.placeholder" | translate }}'>
              </div>
          </form>
        </div>
    </div>
</div>




</div>
