

<div id="editor">

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.button.confirm" | translate }}</h4>
                </div>
                <div class="modal-body">
                    {{ "edit.warning.removeIsDefinitive" | translate }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="remove()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.confirm" | translate }}</h4>
                </div>
                <div class="modal-body">
                    {{ "edit.warning.cancelWillLoseChanges" | translate }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.no" | translate }}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="setEdit(false, true)">{{ "edit.button.yes" | translate }}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modalNewFeature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.createNewFeature" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <label for="featureName">{{ "edit.title.featureName" | translate }}: </label>
                    <input ng-model="featureName" type="text" id="featureName">
                    <label for="featureType">{{ "edit.title.featureType" | translate }}: </label>
                    <select ng-model="featureType" name="featureType">
                        <option value="string" selected="selected">{{ "edit.type.string" | translate }}</option>
                        <option value="number">{{ "edit.type.number" | translate }}</option>
                        <option value="boolean">{{ "edit.type.boolean" | translate }}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="addFeature()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRenameFeature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.renameFeature" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <label for="featureName">Feature name: </label>
                    <input ng-model="featureName" type="text" id="featureName" value="{featureName}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="renameFeature()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalChangeType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.renameFeature" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <label for="featureType">{{ "edit.title.featureType" | translate }}: </label>
                    <select ng-model="featureType">
                        <option value="string">{{ "edit.type.string" | translate }}</option>
                        <option value="number">{{ "edit.type.number" | translate }}</option>
                        <option value="boolean">{{ "edit.type.boolean" | translate }}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="changeType()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSlider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="help-block">{{ "edit.title.selectRange" | translate }}</span>
                </div>
                <div class="modal-body">
                    <div ui-slider="slider.options" ng-model="filterSlider"></div>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-raised btn-sm">{{ "edit.title.from" | translate }} :</button>
                        <input type="number" class="btn btn-default btn-raised btn-sm" ng-blur="checkFilterSliderMin()" ng-model="filterSlider[0]"/>
                        <button class="btn btn-primary btn-raised btn-sm">{{ "edit.title.to" | translate }} :</button>
                        <input type="number" class="btn btn-default btn-raised btn-sm" ng-blur="checkFilterSliderMax()" ng-model="filterSlider[1]"/>
                    </div>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-primary btn-raised btn-sm" data-dismiss="modal"  ng-click="closeFilter()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalStringFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="help-block">{{ "edit.title.selectProducts" | translate }} :</span>
                </div>
                <div class="modal-body">
                    <div id="grid2" ui-grid="gridOptions2" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                    <button type="button" class="btn btn-primary btn-raised btn-sm" data-dismiss="modal" ng-click="closeFilter()">{{ "edit.button.apply" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.embed" | translate }}</h4>
                </div>
                <div class="modal-body">
                    <label for="options">Options:  </label><br />
                    <input type="checkbox" name="title" value="enableTitle" ng-model="enableTitleOption"  ng-change="updateEmbedLink()"> {{ "edit.title.showTitle" | translate }}<br />
                    <input type="checkbox" name="edit" value="enableEdit" ng-model="enableEditOption"  ng-change="updateEmbedLink()"> {{ "edit.title.allowEdition" | translate }}<br />
                    <input type="checkbox" name="export" value="enableExport" ng-model="enableExportOption"  ng-change="updateEmbedLink()"> {{ "edit.title.allowExportation" | translate }}<br />
                    <input type="checkbox" name="share" value="enableShare" ng-model="enableShareOption"  ng-change="updateEmbedLink()"> {{ "edit.title.allowSharing" | translate }}<br />
                    <br />
                    <label for="code">Code:  </label>
                    <textarea id="code" rows="4" cols="60" ng-model="embedLink">

                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "edit.button.cancel" | translate }}</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Table editor -->
    <div ng-controller="ToolbarCtrl">
        <div class="row">
            <div class="col-xs-9" ng-show="enableTitle">
                <h3 ng-show="!edit">{{pcm.name}}
                </h3>
                <form class="form-horizontal" ng-show="edit">
                    <fieldset>
                    <div class="form-group col-lg-5">
                        <label for="pcm-name" class="control-label">{{ "edit.title.placeholder" | translate }}:</label>
                        <input id="pcm-name" class="form-control" type="text" ng-model="pcm.name" placeholder='{{ "edit.title.placeholder" | translate }}'>
                    </div>
                        </fieldset>
                </form>
            </div>
        </div>
        <div class="row" ng-show="enableExport || enableEdit">
            <div class="col-xs-9" >

                    <a ng-show="!saved && edit" role="button" class="btn btn-default btn-flat btn-raised btn-sm" data-toggle="modal" data-target="#modalCancel"><i class="fa fa-arrow-left"></i>  {{ 'edit.button.cancel' | translate }}</a>
                    <a ng-show="saved && edit" role="button" class="btn btn-default btn-flat btn-raised btn-sm" ng-click="setEdit(false, true)"><i class="fa fa-arrow-left"></i>  {{ 'edit.button.cancel' | translate }}</a>
                    <a role="button" ng-show="enableEdit && !edit" class="btn btn-default btn-flat btn-raised btn-sm" ng-click="setEdit(true, true)"><i class="fa fa-pencil"></i> {{ 'edit.button.edit' | translate }}</a>
                <div class="btn-group">

                    <div class="btn-group" ng-show="enableExport">
                        <a class="btn btn-default btn-flat dropdown-toggle btn-sm" data-toggle="dropdown"><i class="fa fa-download"></i> {{ 'edit.button.export' | translate }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="export('csv')" data-toggle="modal" data-target="#modalExport"><i class="fa fa-file-excel-o"></i> CSV</a></li>
                            <li><a href="#" ng-click="export('wikitext')" data-toggle="modal" data-target="#modalExport"><i class="fa fa-file-code-o"></i></i> Wikipedia</a></li>
                        </ul>
                    </div>

                    <div class="btn-group" ng-show="enableShare">
                        <a class="btn dropdown-toggle btn-flat btn-sm" ng-disabled="!activeShareButton" data-toggle="dropdown" ng-click="updateShareLinks()"><i class="fa fa-share-alt"></i> {{ 'edit.button.share' | translate }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#modalShare"><i class="fa fa-share"></i> {{ 'edit.button.embed' | translate }}</a></li>
                            <li><a href="{{ emailLink }}"><i class="fa fa-envelope-o"></i> Email</a></li>
                            <li><a href="{{ twitterLink }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="{{ facebookLink }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="{{ googleLink }}" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
                            <li><a href="{{ redditLink }}" target="_blank"><i class="fa fa-reddit"></i> Reddit</a></li>
                        </ul>

                    </div>

                </div>

                <div class="btn-group">
                    <a ng-show="edit" role="button" class="btn btn-default btn-sm" ng-class='{"btn btn-flat btn-default " : !saved, "btn btn-success": saved && isTitleSet}' ng-disabled="!isTitleSet" ng-click="save()"><i class="fa" ng-class='{"fa-save": !saved, "fa-check": saved && isTitleSet}'></i> {{ 'edit.button.save' | translate }}</a>
                    <a ng-show="isInDatabase && edit" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemove"><i class="fa fa-trash"></i> {{ 'edit.button.remove' | translate }}</a>
                    <a ng-show="edit" role="button" class="btn btn-flat btn-warning btn-sm" ng-class='{"btn btn-warning": validating, "btn btn-default": !validating}' ng-click="validate()"><i class="fa" ng-class='{"fa-search": !validating, "fa-times": validating}'></i> {{ 'edit.button.validate' | translate }}</a>
                </div>

                <div class="btn-group">
                    <a ng-show="edit" role="button" class="btn btn-flat btn-primary btn-sm" data-toggle="modal" data-target="#modalNewFeature"><i class="fa fa-plus"></i> {{ 'edit.button.addfeature' | translate }}</a>
                    <a ng-show="edit" role="button" class="btn btn-flat btn-primary btn-sm" ng-click="addProduct()"><i class="fa fa-plus"></i> {{ 'edit.button.addproduct' | translate }}</a>
                    <a ng-show="edit" role="button" class="btn btn-flat btn-default btn-sm" ng-click="undo()" ng-disabled="!canUndo"><i class="fa fa-undo"></i></a>
                    <a ng-show="edit" role="button" class="btn btn-flat btn-default btn-sm" ng-click="redo()" ng-disabled="!canRedo"><i class="fa fa-repeat"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div id="matrix"  class="grid" ui-grid="gridOptions"  ng-style="{'height' : height}"  ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-auto-resize ui-grid-pinning>
        <div class="grid-overlay-msg" ng-hide="gridOptions.data.length && !loading">
            <div class="msg">
                <span class="loader"> Loading Data...</span>
            </div>
        </div>
    </div>

</div>