<div class="row">
    <div class="col-xs-12" ng-show="enableTitle">
        <h3 ng-show="!edit">{{pcm.name}}
        </h3>
        <form class="form-horizontal" ng-show="edit">
            <fieldset>
                <div class="form-group col-lg-5">
                    <label for="pcm-name" class="control-label">{{ "edit.title.placeholder" | translate }}:</label>
                    <input id="pcm-name" class="form-control" type="text" ng-model="pcm.name" placeholder='{{ "edit.title.placeholder" | translate }}'>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row" ng-show="enableExport || enableEdit">
    <div class="col-xs-12" >

        <a ng-show="!launchFromCreator && !saved && edit" role="button" class="btn btn-default btn-flat btn-raised btn-sm" data-toggle="modal" data-target="#modalCancel"><i class="mdi-navigation-arrow-back"></i>  {{ 'edit.button.cancel' | translate }}</a>
        <a ng-show="!launchFromCreator && saved && edit" role="button" class="btn btn-default btn-flat btn-raised btn-sm"  onClick="window.location.href=window.location.href"><i class="mdi-navigation-arrow-back"></i>  {{ 'edit.button.cancel' | translate }}</a>
        <a ng-show="launchFromCreator && saved && edit" role="button" class="btn btn-default btn-flat btn-raised btn-sm" href="/pcm/{{id}}"><i class="mdi-navigation-arrow-back"></i>  {{ 'edit.button.cancel' | translate }}</a>

        <a role="button" ng-show="enableEdit && !edit && !configurator" class="btn btn-default btn-flat btn-raised btn-sm" ng-click="setEdit(true, true)"><i class="mdi-editor-mode-edit"></i> {{ 'edit.button.edit' | translate }}</a>
        <a role="button" ng-show="!edit && !configurator" class="btn btn-default btn-flat btn-raised btn-sm" ng-click="setConfigurator(true)"><i class="mdi-action-swap-horiz"></i> Configurator</a>
        <a role="button" ng-show="!edit && configurator" class="btn btn-default btn-flat btn-raised btn-sm" ng-click="setConfigurator(false)"><i class="mdi-action-swap-horiz"></i> Classic</a>
        <div class="btn-group">

            <div class="btn-group" ng-show="enableExport">
                <a class="btn btn-default btn-flat dropdown-toggle btn-sm" data-toggle="dropdown"><i class="mdi-action-get-app"></i> {{ 'edit.button.export' | translate }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="export('csv')" data-toggle="modal" data-target="#modalExport"><i class="fa fa-file-excel-o"></i> CSV</a></li>
                    <li><a href="#" ng-click="export('wikitext')" data-toggle="modal" data-target="#modalExport"><i class="fa fa-file-code-o"></i></i> Wikipedia</a></li>
                    <li><a href="#" ng-click="export('html')" data-toggle="modal" data-target="#modalExport"><i class="fa fa-file-code-o"></i></i> Html</a></li>
                    <li><a href="#" ng-click="export('json')" data-toggle="modal" data-target="#modalExport"><i class="fa fa-file-code-o"></i></i> JSON</a></li>
                </ul>
            </div>

            <div class="btn-group" ng-show="enableShare">
                <a class="btn dropdown-toggle btn-flat btn-sm" ng-disabled="!activeShareButton" data-toggle="dropdown" ng-click="updateShareLinks()"><i class="mdi-social-share"></i> {{ 'edit.button.share' | translate }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#modalShare"><i class="fa fa-share"></i> {{ 'edit.button.embed' | translate }}</a></li>
                    <li><a href="{{ emailLink }}"><i class="fa fa-envelope-o"></i> Email</a></li>
                    <li><a href="{{ twitterLink }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="{{ facebookLink }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="{{ googleLink }}" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
                    <li><a href="{{ redditLink }}" target="_blank"><i class="fa fa-reddit"></i> Reddit</a></li>
                </ul>
            </div>
            <div class="btn-group" ng-show="!edit && !(configurator && lineView)">
                <a class="btn dropdown-toggle btn-flat btn-sm"  data-toggle="dropdown"><i class="mdi-navigation-unfold-more"></i>  {{ 'edit.button.height' | translate }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a role="button" class="btn btn-flat btn-sm" ng-click="increaseHeight(1)">x 1</a></li>
                    <li><a role="button" class="btn btn-flat btn-sm" ng-click="increaseHeight(2)">x 2</a></li>
                    <li><a role="button" class="btn btn-flat btn-sm"  ng-click="increaseHeight(4)">x 4</a></li>
                    <li><a role="button" class="btn btn-flat btn-sm"  ng-click="increaseHeight(8)">x 8</a></li>
                </ul>
            </div>
        </div>

        <div class="btn-group">
            <a ng-show="edit" role="button" class="btn btn-default btn-sm" ng-class='{"btn btn-flat btn-default " : !saved, "btn btn-success": saved && isTitleSet}' ng-disabled="!isTitleSet" ng-click="save()"><i class="fa" ng-class='{"mdi-content-save": !saved, "mdi-navigation-check": saved && isTitleSet}'></i> {{ 'edit.button.save' | translate }}</a>
            <a ng-show="isInDatabase && edit" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemove"><i class="mdi-action-delete"></i> {{ 'edit.button.remove' | translate }}</a>
            <a ng-show="edit" role="button" class="btn btn-flat btn-warning btn-sm" ng-class='{"btn btn-warning": validating, "btn btn-default": !validating}' ng-click="validate()"><i class="fa" ng-class='{"mdi-action-search": !validating, "mdi-content-clear": validating}'></i> {{ 'edit.button.validate' | translate }}</a>
        </div>

        <div class="btn-group">
            <a ng-show="edit" role="button" class="btn btn-flat btn-primary btn-sm" data-toggle="modal" data-target="#modalNewFeature"><i class="mdi-content-add"></i> {{ 'edit.button.addfeature' | translate }}</a>
            <a ng-show="edit" role="button" class="btn btn-flat btn-primary btn-sm" ng-click="openCreateFeatureGroupModal()"><i class="mdi-content-add-box"></i> {{ 'edit.button.addfeaturegroup' | translate }}</a>
            <a ng-show="edit" role="button" class="btn btn-flat btn-primary btn-sm" ng-click="addProduct()"><i class="mdi-content-add"></i> {{ 'edit.button.addproduct' | translate }}</a>
            <a ng-show="edit" role="button" class="btn btn-flat btn-default btn-sm" ng-click="undo()" ng-disabled="!canUndo"><i class="mdi-content-undo"></i></a>
            <a ng-show="edit" role="button" class="btn btn-flat btn-default btn-sm" ng-click="redo()" ng-disabled="!canRedo"><i class="mdi-content-redo"></i></a>
        </div>
    </div>
</div>
