.editor-toolbar {
    position:fixed;
    top: 50px ;
    z-index:2;
    margin-top: 10px;
}

#matrix {
    margin: 0 0 50px 0;
}

.grid {
    bottom: 0;
    padding: 0;
}

.buttonsCell {
    visibility: visible;
    margin: 0;
    padding: 0;
    height: 28px;
}

.buttonsCell button{
    margin: 0;
    padding: 0;
    width: 29px;
    height: 28px;
}

.hideCell {
    color: rgba(0, 0, 0, 0);
}

.showCell {
    color: rgba(0, 0, 0, 1);
}

.productCell{
    font-weight: bold;
}

.warningCell {
    color: rgba(10, 0, 0, 1);
    background-color : rgba(255, 230, 200, 1) !important;
}

.noCell {
    color:  #F44336;
    font-weight: 100;
}

.yesCell {
    color: #4CAF50;
    font-weight: 500;
}

.linkCell {
    color: blue;
}

.grid-overlay-msg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.grid-overlay-msg .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 50%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 24px;
    display: table;
}

.grid-overlay-msg .msg span {
    display: table-cell;
    vertical-align: middle;
}

.loader {
    background: url(/assets/main/images/ajax-loader.gif) no-repeat 5px 3px;
    padding-left: 20px;
}

.filterLabel {
    font-style: italic;
    font-weight: normal;
}

.full-size {
    width: 100%; /* either % (e.g. 60%) or px (400px) */
    height: 100%; /* either % (e.g. 60%) or px (400px) */
}
.wide-size {
    width: 80%; /* either % (e.g. 60%) or px (400px) */
    height: 80%; /* either % (e.g. 60%) or px (400px) */
}

.ui-slider-range {
    background: #009688;
}
.categoryStyle {
    overflow: auto;
    width: 100%;
    border: 1px solid rgb(212,212,212);
}


.hideBlock {
    visibility: hidden;
}

.showBlock {
    visibility: visible;
}

/* Ui-grid override */
.headerCell{

    position: absolute;
    top: 0;
    bottom: 0;
    background-color: inherit;
}

.ui-grid-render-container-body .ui-grid-cell {
    padding: 5px;

}


.ui-grid-header-cell-row {
   // background-color: white;
}

.ui-grid-footer-cell-row {
  //  background-color: white;
}

.ui-grid-footer-cell{
   // background-color: white;
}

.ui-grid-footer-cell:hover {
    background-color: #b3e5fc !important;
}

.ui-grid-header-cell {
    border-top: 1px solid;
    border-color: #d4d4d4;
}

.ui-grid-header-cell:hover {
    background-color: #b3e5fc !important;
}

.ui-grid-filter-container {
    padding: 0 0 0 5px;
}

.ui-grid-cell:hover {
    background-color: #b3e5fc !important;
}

.form-control-wrapper {
    margin-top: 20px;
    height: 35px
}