body {
    background-color: white;
    margin-top: 60px;
}

.red {
    color: red;
}

center {
    text-align: center;
}

#navbar-logo {
    position: relative;
    top: -4px;
}

.btn-lowercase {
    text-transform: none;
}

/*button
{
position : fixed;
top : 150px;
left : 150px;

}*/
