body {
    background-color: white;
    margin-top: 60px;
}

.red {
    color: red;
}

center {
    text-align: center;
}

#navbar-logo {
    position: relative;
    top: -4px;
}

.btn-lowercase {
    text-transform: none;
}

/*button
{
position : fixed;
top : 150px;
left : 150px;

}*/

.col-centered{
    float: none;
    margin: 0 auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.footer {
    background-color: rgb(63, 81, 181);
    color: white;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    text-align: center;
}
