body {
    background-color: white;
}

.red {
    color: red;
}

ul.results {
    list-style-type: square;
}

center {
    text-align: center;
}

h4 {
    border-bottom: 1px solid lightgrey;
}

#navbar-logo {
    position: relative;
    top: -4px;
}