ignore-rows={"46"}
header-columns=2

"Poland" "Speed limit at urban area" Partial "(\w+)\s\((.+)\)"
Multiple "(\w+)\s\((.+)\)" {xor}
Multiple "(\w+)/(\w+)" {or}
Partial "(\d+)\son\s(\w+)"
Partial "((?:.*)recommended(?:.*))"
Partial "([\w/]+)\s(\d+(?:\.\d+)?)" {inverted}
Partial "(\d+)\s(?:with|for)\s(.+)"
Simple "[\w/]+[\s\w/>]*"
Simple "<?\d+(\.\d+)?"
