for "General":
ignore-rows={"38"}

for "Operating system compatibility":
ignore-rows={"31"}

for "Features":
ignore-rows={"26"}

for "Extended features":
ignore-rows={"24"}

for "Audio format ability":
header-rows=2
ignore-rows={"26"}

for "Container format ability":
ignore-rows={"20"}

for "Protocol abilities":
ignore-rows={"19"}

for "Playlist format ability":
ignore-rows={"22"}

for "Metadata ability":
ignore-rows={"21"}

for "Optical media ability":
header-rows=2
ignore-rows={"21","22"}

for "Scalable, composite and emulation format abilities":
ignore-rows={"20"}
