//Simple "\d+(\.\d+)*"
//Simple "\w(\w*|-)*"
//Simple "\d+%"
//Simple "\d\.\d+x"
//Simple "\d(\.\d+)?""
//Simple "\w+\s\w+"
//Simple "(\d+(\.\d+)+)"
//Simple "(\w+\s\(.+\))"

//"LCD monitor" Multiple "(.*?)\s(.*)" {and}
//"Dimensions (mm)" Multiple "(\d+(?:\.\d+)?) (?:×|x) (\d+(?:\.\d+)?) (?:×|x) (\d+(?:\.\d+)?)" {and}

//Multiple "(.*?),\s(.*?)(?:,\s(.*))?" {and}
//Multiple "(.*)/(.*)/(.*)" {and}

for "See also" :
ignored=true
