header-rows=2
header-columns=3
ignore-rows={"105","106","114","115","126","127","132","133"}

//Simple "\d+\+?\s*(-|–)\s*\d+\+?"
//Simple "\d+\+?"
//Multiple "(socket[^(?:socket)]+)((?:socket[^(?:socket)]+)+)" {and}
//Multiple "(slot[^(?:slot)]+)((?:socket[^(?:socket)]+)+)" {and}
//Multiple "(\d+)/(.*)" {or}
//Simple "\d+\+\d+"
//Partial "(.*)\((.*)\)"
//Simple "[^,]+"
//Simple "\d\*"
