for "General"[0],"Operating system support"[0],"Interface and programming"[0],"General"[1],"Operating system support"[1],"Interface and programming"[1],"Features"[1] : 
ignore-rows={"13"}

for "Features"[0] : 
ignore-rows={"12"}

for "General"[2],"Operating system support"[2] : 
ignore-rows={"9"}

for "Interface and programming"[2],"Features"[2] : 
ignore-rows={"8"}
