@()(implicit messages: Messages, context: controllers.ViewContext)

@header = {

}

@footer = {

}

@main(header, footer, fullSize = false){

    <h1>@Messages("about.project.title")</h1>

    @inconstruction()

    <h2>@Messages("about.project.project.title")</h2>
    <p>
        @Messages("about.project.project.text")
    </p>

    <h2>@Messages("about.project.history.title")</h2>
    <p>
        @Html(Messages("about.project.history.text"))
    </p>

    <h2>@Messages("about.project.contributors.title")</h2>
    <p>
        @Html(Messages("about.project.contributors.text"))
    </p>


}
