@(id : String = null, data : play.api.libs.json.JsValue = null, modal : String = null)(implicit messages: Messages)

@header = {
    @editHeader()
}

@footer = {
  @editFooter(id, data, modal)
}

@main(header, footer) {



    <div open-compare-creator ng-controller="CreatorCtrl">

    </div>


    <div class="row">
        <open-compare-editor edit="true"></open-compare-editor>
    </div>



    <div class="row">
        <div open-compare-charts ng-controller="ChartsCtrl" class="col-md-10 col-md-offset-1">
        </div>
    </div>
}