@(id : String = null, data : play.api.libs.json.JsValue = null, modal : String = null)(implicit messages: Messages, context: controllers.ViewContext)

@header = {
    @editHeader()
}

@footer = {
  @editFooter(id, data, modal)
}

@main(header, footer) {



    <div class="row">
        <open-compare-creator></open-compare-creator>
    </div>


    <div class="row">
        <open-compare-editor edit="true" server-mode="local"></open-compare-editor>
    </div>



    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <open-compare-charts></open-compare-charts>
        </div>
    </div>
}