<script src="/assets/javascripts/neweditor/base64.js"></script>
<script src="/assets/javascripts/neweditor/org.opencompare.model.pcm.min.js"></script>
<script src="/assets/javascripts/neweditor/pcmApi.js"></script>
<script src="/assets/javascripts/neweditor/jquery-3.1.1.js"></script>
<script src="/assets/javascripts/neweditor/editorJQuery.js"></script>
<script src="/assets/javascripts/neweditor/Chart.js"></script>


<link rel='stylesheet' href='@routes.Assets.at("stylesheets/editor.css")'>
<link rel='stylesheet' href='@routes.Assets.at("editor/opencompare-editor.min.css")'>


<link rel='stylesheet' href='@routes.Assets.at("stylesheets/neweditor.css")'>
