@(id : String = null, data : play.api.libs.json.JsValue = null, modal : String = null)

@header = {
    @editHeader()
}

@footer = {
  @editFooter(id, data, modal)
}

@main(header, footer) {
<div>
    <div open-compare-editor ng-controller="EditorCtrl">
    </div>
    <div ng-controller="ChartsCtrl" style="width:75%">
        <canvas ng-if="showLineChart" id="line" class="chart chart-line" data="lineData"
         labels="lineLabels" legend="true" series="lineSeries"
         click="onClick">
        </canvas>

        <canvas ng-if="showBarChart" id="bar" class="chart chart-bar" data="barData"
        labels="barLabels" series="barSeries" legend="true"></canvas>

        <canvas ng-if="showPieChart" id="pie" class="chart chart-pie" data="pieData"
        labels="pieLabels" legend="true" colours="colors"></canvas>

        <canvas ng-if="showRadarChart" id="radar" class="chart chart-radar" data="radarData"
        labels="radarLabels"></canvas>

        <canvas ng-if="showStringPieChart" id="pie" class="chart chart-pie" data="stringPieData"
        labels="stringPieLabels" legend="true"></canvas>

        <canvas ng-if="showStringRadarChart" id="radar" class="chart chart-radar" data="stringRadarData"
        labels="stringRadarLabels"></canvas>

    </div>
</div>
}