@(id : String = null, data : play.api.libs.json.JsValue = null, modal : String = null)

@if(id != null) {
    <script>
            var id = "@{Html(id)}";
        </script>
}
@if(data != null) {
    <script>
            var data = '@{Html(data.toString().replace("'","\\\'"))}';
        </script>
}
@if(modal != null) {
    <script>
            var modal = '@{Html(modal)}';
        </script>
}



@*<script type='text/javascript' src='@routes.Assets.at("kmf/pcm.min.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("javascripts/pcm-api.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("javascripts/pcmEditorUtility.js")'></script>*@

@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/TypesCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/FiltersCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/ToolbarCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/EditorCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/UndoRedoCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/CommandsCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/GridCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/ShareCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/FeatureGroupCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/features/charts/ChartsCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/features/configurator/ConfiguratorCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/controllers/CreatorCtrl.js")'></script>*@

@*<script type='text/javascript' src='@routes.Assets.at("editor/features/importexport/controllers/exporter/csvCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/features/importexport/controllers/exporter/wikitextCtrl.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/features/importexport/controllers/exporter/htmlCtrl.js")'></script>*@


@*<script type='text/javascript' src='@routes.Assets.at("editor/core/directives/embeddedEditor.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/directives/featureGroup.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/features/charts/charts.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/features/configurator/configurator.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/directives/toolbar.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/directives/creator.js")'></script>*@

@*<script type='text/javascript' src='@routes.Assets.at("editor/core/services/editorOptions.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/services/ExpandEditorService.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/services/TypeService.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/services/SortFeaturesService.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/services/FeatureGroupService.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/core/services/editorUtil.js")'></script>*@
@*<script type='text/javascript' src='@routes.Assets.at("editor/features/charts/chartService.js")'></script>*@