@(id : String = null, data : play.api.libs.json.JsValue = null, modal : String = null)

@if(id != null) {
    <script>
            var id = "@{Html(id)}";
        </script>
}
@if(data != null) {
    <script>
            var data = '@{Html(data.toString().replace("'","\\\'"))}';
        </script>
}
@if(modal != null) {
    <script>
            var modal = '@{Html(modal)}';
        </script>
}

<script type='text/javascript' src='@routes.Assets.at("javascripts/kmf/pcm.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/pcm-api.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/pcmEditorUtility.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/OpenCompareCtrl.js")'></script>

<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/controllers/TypesCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/controllers/FiltersCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/controllers/ToolbarCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/controllers/EditorCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/controllers/UndoRedoCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/controllers/CommandsCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/controllers/InitializerCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/controllers/ShareCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/importexport/controllers/exporter/csvCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/importexport/controllers/exporter/wikitextCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/importexport/controllers/exporter/htmlCtrl.js")'></script>


<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/directives/embeddedEditor.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/directives/featureGroup.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/services/EmbedService.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/services/ExpandEditorService.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/editor/services/TypeService.js")'></script>