@(id : String = null, data : play.api.libs.json.JsValue = null, modal : String = null)(implicit messages: Messages)

@header = {
    @editHeader()
}

@footer = {
  @editFooter(id, data, modal)
}

@main(header, footer) {


    <div class="row">
        <open-compare-editor pcm-container="data" pcm-id="id" edit="true" server-mode="local" ng-controller="OCEditorCtrl"></open-compare-editor>
    </div>



    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <open-compare-charts></open-compare-charts>
        </div>
    </div>
}