@(id : String = null, data : play.api.libs.json.JsValue = null, modal : String = null)




<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <meta charset="UTF-8">
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/editor.css")'>

        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.min.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("smoothness/jquery-ui.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>
        @if(id != null) {
            <script>
            var id = "@{
                Html(id)
            }";
        </script>
        }
        @if(data != null) {
            <script>
            var data = '@{
                Html(data.toString().replace("'", "\\\'"))
            }';
        </script>
        }
        @if(modal != null) {
            <script>
            var modal = '@{
                Html(modal)
            }';
        </script>
        }



        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))'></script>


        <script>
          var pcmApp = angular.module("pcmApp", ['ui.grid', 'ui.grid.edit', 'ui.grid.selection', 'ui.grid.cellNav', 'ui.grid.resizeColumns', 'ui.grid.moveColumns', 'ui.grid.autoResize', 'ui.bootstrap', 'ui.slider'])
          var modalTemplatePath = '@routes.Assets.at("templates/")';
        </script>

        <script type='text/javascript' src='@routes.Assets.at("javascripts/slider.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/kmf/pcm.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/pcm-api.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/pcmEditorUtility.js")'></script>

        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/editor/TypesCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/editor/FiltersCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/editor/ToolbarCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/editor/EditorCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/editor/UndoRedoCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/editor/CommandsCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/editor/ShareCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/editor/InitializerCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/exporter/csvCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/exporter/wikitextCtrl.js")'></script>

        <script type='text/javascript' src='@routes.Assets.at("javascripts/directives/embeddedEditor.js")'></script>
    </head>
    <body STYLE="background-color:transparent; margin:0; padding:0;">
        <div ng-app="pcmApp">
                <div open-compare-editor ng-controller="EditorCtrl">
                </div>
        </div>

    </body>

</html>

