@(id : String = null, data : play.api.libs.json.JsValue = null, modal : String = null)

<!DOCTYPE html>
<html>
    <head>

        @mainHeader()
        @editHeader()
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/embed.css")'>

    </head>
    <body ng-app="openCompare">

        <div class="container-fluid">
            <div class="row">
                <open-compare-editor pcm-container="pcmContainer" toolbar="false" server-mode="local" ng-controller="OCEditorCtrl"></open-compare-editor>
            </div>


            <div class="row">
                <open-compare-charts></open-compare-charts>
            </div>
        </div>


        @mainFooter()
        @editFooter(id, data, modal)
    </body>

</html>

