@header = {
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/importer.css")'>
}

@footer = {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/kmf/pcm.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/pcm-api.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/pcm-importer-controller.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/lib/csvToArray.js")'></script>
}

@toolbar = {

    <nav class="navbar" role="navigation" >
        <div class="container-fluid">

            <div class="importer-toolbar" >

                <button type="submit" class="btn btn-success center-block" form="import_pcm"><i class="fa fa-valid"></i> @Messages("importer.button.confirm")</button>

            </div>
        </div>
    </nav>

}

@main(header, footer, toolbar) {

    <div id="importer" class="row" ng-controller="PCMImporterController">
        <form name="importPcm" id="import_pcm" class="form-horizontal" ng-submit="confirm()">
            <div class="row-fluid">
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="col-md-4 control-label">@Messages("importer.type")</label>
                        <div class="col-md-8">
                            <select ng-model="type" id="type" name="Importation type">
                                <option default value="csv">csv</option>
                                <option value="json">json</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">@Messages("importer.select")</label>
                        <div class="col-md-8">
                            <input ng-model="file" type="file" id="file" name="file" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">@Messages("importer.pcm.title")</label>
                        <div class="col-md-8">
                            <input ng-model="pcm.title" type="string" id="title" name="PCM title" size="80%" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">@Messages("importer.pcm.productAsLines")</label>
                        <div class="col-md-8">
                            <input ng-model="pcm.productAsLines" type="checkbox" id="productAsLines" name="Product as lines" size="3"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div ng-show="type == 'csv'">
                        <div class="form-group">
                            <label class="col-md-4 control-label">@Messages("importer.csv.separator")</label>
                            <div class="col-md-8">
                                <input ng-model="csv.separator" type="string" id="separator" name="Csv separator" size="3" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@Messages("importer.csv.quote")</label>
                            <div class="col-md-8">
                                <input ng-model="csv.quote" type="string" id="quote" name="Csv quote" size="3"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@Messages("importer.csv.header")</label>
                            <div class="col-md-8">
                                <input ng-model="csv.header" type="checkbox" id="header" name="Csv header" size="3"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

