@(lastWebsitesFromExtensions : List[String])(implicit messages: Messages, context: controllers.ViewContext)

@header = {
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
}

@footer = {
<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/SearchCtrl.js")'></script>
}

@main(header, footer, fullSize = false){

<div>
    <br/>
    <div class="row text-center">
        <img src='@routes.Assets.at("images/logo.svg")' width="150" >
        <h1>OpenCompare</h1>
    </div>

    <div class="row">
        <div class="description">
            @Html(Messages("index.description"))
        </div>
    </div>

    <!-- Disclaimer -->
    @*<div class="row">*@
        @*<div class="col-lg-6 col-lg-offset-3 alert alert-warning text-justify">*@
            @* @Html(Messages("index.warning")) *@
        @*</div>*@

    @*</div>*@

    <div class="row">
        <div class="col-sm-3 ">
            <i class="fa fa-cloud-upload fa-5x card-icon"></i>
            <h2 class="card-title">@Messages("index.import.title")</h2>
            <p class="card-description">
                @Messages("index.import.description")
            </p>
            @*<img src='@routes.Assets.at("images/wikipedia.svg")' height="80">*@
        </div>

        <div class="col-sm-3">
            <i class="fa fa-edit fa-5x card-icon"></i>
            <h2 class="card-title">@Messages("index.edit.title")</h2>
            <p class="card-description">
            @Messages("index.edit.description")
            </p>
        </div>

        <div class="col-sm-3">
            <i class="fa fa-check fa-5x card-icon"></i>
            <h2 class="card-title">@Messages("index.compare.title")</h2>
            <p class="card-description">
                @Messages("index.compare.description")
            </p>
        </div>

        <div class="col-sm-3">
            <i class="fa fa-share fa-5x card-icon"></i>
            <h2 class="card-title">@Messages("index.share.title")</h2>
            <p class="card-description">
                @Messages("index.share.description")
            </p>
        </div>
    </div>

    <div class="row text-center">
        <form role="form" class="form-inline" ng-controller="SearchController" action="search" method="GET">
            <input name="request" class="form-control input-lg" placeholder='@Messages("button.search.placeholder")' ng-model="request" typeahead="suggestion for suggestion in getSuggestions()">
            <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">@Messages("index.extensions.title")</h1>
                </div>
                <div class="panel-body">
                    <p>@Messages("index.extensions.text")</p>
                    <p>@Messages("index.extensions.last")</p>
                    <ul>
                    @for(url <- lastWebsitesFromExtensions) {
                        <li><a href="@url">@url</a></li>
                    }
                    </ul>
                    <div class="text-center">
                        <iframe width="100%" height="350px" src="https://www.youtube.com/embed/PJNi1uYhV5w" frameborder="0" allowfullscreen></iframe>
                        <div>
                            <a class="btn btn-info btn-lowercase" href="https://chrome.google.com/webstore/detail/opencompare/kegafoedlhmhihidokeecgjlppdknffd"><i class="fa fa-chrome"></i> @Messages("index.chrome")</a>
                            <a class="btn btn-info btn-lowercase" href="https://addons.mozilla.org/en-US/firefox/addon/opencompare/"><i class="fa fa-firefox"></i> @Messages("index.firefox")</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">@Messages("index.social.title")</h1>
                </div>
                <div class="panel-body">
                    <p>@Messages("index.social.text")</p>
                    <div class="text-center">
                        <a class="btn btn-info btn-lowercase" href="https://twitter.com/open_compare"><i class="fa fa-twitter"></i> @Messages("index.twitter")</a>
                        <a type="button" class="btn btn-info btn-lowercase" href="https://github.com/OpenCompare/OpenCompare">
                            <i class="fa fa-github"></i> @Messages("index.github")
                        </a>
                    </div>

                    <div class="text-center">
                        <a class="twitter-timeline" href="https://twitter.com/open_compare" data-widget-id="644903593737363456">Tweets de @@open_compare</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

}
