@header = {
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
}

@footer = {
<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/SearchCtrl.js")'></script>
}

@main(header, footer){

<div>
    <div class="row text-center">
        <img src='@routes.Assets.at("images/logo.png")' height="83" width="169" > @* 124 x 254 *@
        <h1>OpenCompare</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 description">
            @Html(Messages("index.description"))
        </div>
    </div>

    <!-- Disclaimer -->
    @*<div class="row">*@
        @*<div class="col-lg-6 col-lg-offset-3 alert alert-warning text-justify">*@
            @*@Html(Messages("index.warning"))*@
        @*</div>*@

    @*</div>*@

    <div class="row text-center">
        <form role="form" class="form-inline" ng-controller="SearchController" action="search" method="GET">
            <input name="request" class="form-control input-lg" placeholder='@Messages("button.search.placeholder")' ng-model="request">
            <button type="submit" class="btn btn-default btn-lg">@Messages("button.search")</button>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-3 col-lg-offset-3">
        <h4 class="text-center">@Messages("index.pcm.title")</h4>
        <p class="text-justify">
            @Messages("index.pcm.text")
        </p>
        </div>

        <div class="col-lg-3">
        <h4 class="text-center">@Messages("index.edition.title")</h4>
        <p class="text-justify">
            @Messages("index.edition.text")
        </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-lg-offset-3">
            <h4 class="text-center">@Html(Messages("index.opendata.title"))</h4>
            <p class="text-justify">
                @Messages("index.opendata.text")
            </p>
        </div>

        <div class="col-lg-3">
            <h4 class="text-center">@Messages("index.io.title")</h4>
            <p class="text-justify">
                @Html(Messages("index.io.text"))
        </div>
    </div>

    <div class="row col-lg-6 col-lg-offset-3">
        <h4 class="text-center">@Messages("index.opensource.title")</h4>
        <p class="text-justify">
            @Html(Messages("index.opensource.text"))
        </p>

        <div class="text-center">
        <a type="button" class="btn btn-success " href="https://github.com/gbecan/PCM">
            <img src="assets/images/github.png" height="25" width="25"> @Messages("index.github")
        </a>
        </div>
    </div>
</div>

}
