@(feedbacks : List[Feedback], limit : Int, page : Int, nbPages : Int)(implicit messages: Messages, context: controllers.ViewContext)

@header = {
    
}

@footer = {

}

@pagination = {

    <div class="row text-center">
        <nav>
            <ul class="pagination">
                <li @if(page<=1) {class="disabled"}>
                    <a @if(page>1) {href="/feedback/list/@limit/@(page - 1)"}>
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for(numPage <- 1 to nbPages) {
                    <li @if(numPage == page){class="active"}><a href="/feedback/list/@limit/@numPage">@numPage</a></li>
                }
                <li @if(page>=nbPages) {class="disabled"}>
                    <a @if(page<nbPages) {href="/feedback/list/@limit/@(page + 1)"}>
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

}

@main(header, footer, fullSize = false) {

    @pagination

    <div class="feedbacks">
        @for(feedback <- feedbacks) {
			<div class="feedback">

                @if(feedback.subject.isEmpty) {
                    <span class="feedback-subject">Unknown subject</span>
                } else {
                    <span class="feedback-subject">@feedback.subject</span>
                }
                <span class="feedback-email">For comparison matrix <a href="/pcm/@feedback.pcmid">@feedback.pcmid</a></span>
                @if(feedback.email.isEmpty) {
                    <!-- <span class="feedback-email">Unknown email</span>-->
                } else {
                <span class="feedback-email">(from : @feedback.email)</span>
                }
                <span class="feedback-email">(date: @feedback.date)</span>
				<p>@feedback.content</p>
			</div>
        }
    </div>

    @pagination


}