@import javax.inject.Inject
@import play.api.Play.current
@(header : Html = Html(""), footer : Html = Html(""), toolbar : Html = Html(""), fullSize : Boolean = true)(content: Html)(implicit lang: Lang, messages: Messages, context: controllers.ViewContext)

<!DOCTYPE html>
<html>
<head>
    <title>OpenCompare</title>

    @mainHeader()

    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>

    @header

</head>
<body>
    @if(fullSize) {
        <div id="main-content" class="container-fluid editor-wrap">
    } else {
        <div id="main-content" class="container editor-wrap">
    }
        @content
    </div>

	@feedback()

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik-opencompare.rhcloud.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik-opencompare.rhcloud.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    @footer
</body>
</html>
