
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<meta charset="UTF-8">

<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.min.css"))'>
<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.fullPath("jquery-ui-themes","smoothness/jquery-ui.css"))'>
<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("material.min.css"))'>
<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-chart.css"))'>
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/feedback.css")'>
<!-- Material Design Icon from Google -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- Angular Material, because material is better than bootstrap -->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">