
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<meta charset="UTF-8">

<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.min.css"))'>
<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("smoothness/jquery-ui.css"))'>
<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("material.min.css"))'>
<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-chart.css"))'>
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>