<!-- Scripts -->
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-translate.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-grid.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/arrive.min.js")'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("material.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("src/slider.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-utf8-base64.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("Chart.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-chart.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("dist/angular-base64-upload.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-clipboard.js"))'></script>

<script type='text/javascript' src='@routes.Assets.at("editor/org.opencompare.model.pcm.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("editor/opencompare-editor.min.js")'></script>

<script>
    angular.module("openCompare", ['openCompareEditor']);
</script>

<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/I18nCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/NavbarCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/OCEditorCtrl.js")'></script>