@()(implicit messages: Messages, context: controllers.ViewContext)

@header = {
  <link rel='stylesheet' href='@routes.Assets.at("stylesheets/profile.css")'>
}

@footer = {

}

@defining(context.user.get) { user =>

  @main(header, footer, fullSize = false) {


    <div class="row">
      <div class="page-header">
        <h1>@if(user.avatarURL.isDefined) {
        <img class="img-thumbnail" src="@user.avatarURL.get" > }@user.fullName</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <h3>Email</h3><p>@user.email</p>
      </div>
      <div class="col-sm-3">
        <h3>@Messages("profile.fname")</h3><p>@user.firstName</p>
      </div>
      <div class="col-sm-3">
        <h3>@Messages("profile.lname")</h3><p>@user.lastName</p>
      </div>
      <div class="col-sm-3">
        <h3>@Messages("profile.role")</h3><p>@user.role.name</p>
      </div>
    </div>





  }
}