@(request : String, results : List[model.PCMInfo])(implicit messages: Messages)

@header = {
    <link rel='stylesheet' href='@routes.Assets.at("/public", "main/stylesheets/search.css")'>
}
@footer = {
    <script type='text/javascript' src='@routes.Assets.at("/public", "main/SearchCtrl.js")'></script>
}

@main(header, footer) {

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h4>@Messages("search.title") "@request"</h4>
                @*<ul class="list-group">*@
                    @results.map{ result =>
                        <a class="btn btn-primary btn-flat btn-xs oc-list" href="pcm/@result.id">
                            @result.name
                        </a>
                        <br/>
                    }
                @*</ul>*@
            </div>
        </div>
}