@(request : String, results : List[model.DatabasePCM])

@header = {}
@footer = {<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/search-controller.js")'></script>}

@main(header, footer) {

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h4>@Messages("search.title") "@request"</h4>
                <ul>
                    @results.map{ result =>
                    <li><a href="pcm/@result.getId()">@result.getPCMContainer.getPcm.getName()</a></li>
                    }
                </ul>
            </div>
        </div>
}