@(signInForm: Form[forms.SignInForm.Data], socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, context: controllers.ViewContext)

@header = {
}

@footer = {
}

@main(header, footer, fullSize = false) {

    <div class="row">
        <h1 class="text-center">@Messages("signin.title")</h1>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <h1>@Messages("signin.account")</h1>
            <form class="form-horizontal" method="post" action="/authenticate/credentials">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label>
                            <input type="checkbox" name="rememberMe"> Remember me
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </form>

            <div class="text-center">
                <p>Not registered yet? <a href="/signUp">Sign up here</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <h1>@Messages("signin.provider")</h1>
            @for(p <- socialProviders.providers if p.id != "clef") {
                <div class="col-md-4">
                    <a href="/authenticate/@p.id" class="btn btn-primary btn-block" title="@Messages(p.id)">
                        <i class="fa fa-@p.id fa-lg"></i> @Messages(p.id)
                    </a>
                </div>
            }
        </div>
    </div>







}
