<div class="ui-grid-header custom-ui-grid-header">
    <div class="ui-grid-top-panel" >
        <div class="ui-grid-header-viewport">
            <div class="ui-grid-header-canvas">
                <div class="ui-grid-header-cell-wrapper"  style="display: block;" ng-style="colContainer.headerCellWrapperStyle()">
                    <div class="ui-grid-header-cell-row" ng-show="grid.options.superColDefs.length != 0" ng-if="colContainer.name === 'body'" style="display:block;border-left:  1px solid #d4d4d4;height:30px">
                        <div  class="ui-grid-header-cell"  ng-repeat="superCol in grid.options.superColDefs track by $index" col-name="{{superCol.name}}">
                            <div class="ui-grid-cell-contents" ng-bind="superCol.displayName">

                            </div>
                            <div class="ui-grid-column-menu-button " ng-show="superCol.name != 'emptyFeatureGroup'">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" style="cursor:pointer;color:#515151;">
                                    <i class="ui-grid-icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu" ng-controller="FeatureGroupCtrl" style="left: -140px">
                                    <li><a href="#" ng-click="openRenameFeatureGroupModal(superCol.name)"><i class="fa fa-pencil"></i> Rename</a></li>
                                    <li><a href="#" ng-click="grid.appScope.deleteFeatureGroup(superCol.name)"><i class="fa fa-trash"></i> Remove</a></li>
                                    <li><a href="#" ng-click="openAssignFeatureGroupModal(superCol.name, grid.options.columnDefs)"><i class="fa fa-link"></i> Assign</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-header-cell-row" ng-show="grid.options.superColDefs.length != 0" ng-if="colContainer.name !== 'body'" style="display: block;height:30px">
                        <br />
                    </div>
                    <div class="ui-grid-header-cell-row">
                        <div class="ui-grid-header-cell ui-grid-clearfix"
                             ng-repeat="col in colContainer.renderedColumns track by col.colDef.name"
                             ui-grid-header-cell col="col" super-col-width-update render-index="$index">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
