
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelModal()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ "edit.title.assignFeatureGroup" | translate }}</h4>
</div>
<div class="modal-body" ng-init="checkbox = []">
    <h4>{{currentFeatureGroup}} </h4>
    <label for="featureName">Features :</label>
    <div class="checkbox checkbox-primary"  name="featuresSelection" ng-repeat="col in cols | filter:isAFeature" ng-init="checkbox[col.name] = isAFeatureWithThisFeatureGroup(col, currentFeatureGroup)">
        <label>
            <input type="checkbox" ng-model="checkbox[col.name]"> {{ col.name }}
        </label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelModal()">{{ "edit.button.cancel" | translate }}</button>
    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="assignFeatureGroup(currentFeatureGroup, checkbox)">{{ "edit.button.apply" | translate }}</button>
</div>