#editor {
    position: relative;
}

#hot  .currentCol {
    background-color : #DFF2FF;
}

#hot .currentRow {
    background-color : #DFF2FF;
}

#hot {
    z-index:1;
}

.editor-toolbar
{
    position:fixed;
    top: 50px ;
    z-index:2;
    margin-top: 10px;

}


