.editor-toolbar {
    position:fixed;
    top: 50px ;
    z-index:2;
    margin-top: 10px;

}

#matrix {
    margin: 10px 0px 50px 0px;
}

.buttonsCell {
    visibility: visible;
}

.hideCell {
    color: rgba(0, 0, 0, 0);
}

.showCell {
    color: rgba(0, 0, 0, 1);
}

.productCell{
    font-weight: bold;
}