@font-face {
    font-family: Roboto-Regular;
    src: url(/assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(/assets/font/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/assets/font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(/assets/font/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/font/MaterialIcons-Regular.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

a{
  color: #26a69a;
  text-decoration: none;
  font-family: Roboto-Medium;
}

a:hover{
  text-decoration: underline;
}

select {
  box-sizing: border-box;
  margin: 8px;
  height: 32px;
  border-radius: 2px;
}

/**************************************************************************************************************************************************************************/
/* editor */
.editor{
	width: 100%;
	height: 100%;
	font-family: Roboto-Regular;
  overflow: hidden;
}

.editor-wrap{
  padding: 0;
  margin: 0 !important;
  height: 100% !important;
  overflow: hidden;
}

/**************************************************************************************************************************************************************************/
/* loading */
.loadingDiv {
  transition: 0.2s;
  position: fixed;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  height: 42px;
  line-height: 32px;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.loadingDiv.visible {
  top: 10px;
}

.loadingMessage {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  vertical-align: top;
  margin-left: 5px;
}

.loader {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #26a69a;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

/**************************************************************************************************************************************************************************/
/* header */
.editor-header{
  transition: 0.2s;
  transition-property: height;
	box-sizing: border-box;
	width: 100%;
	height: 5.6em; /* 1 pcm-name + 2 pcm-param */
	padding-left: 3px;
	padding-right: 3px;
	line-height: 1.6em;
	border-bottom: 1px solid #BDBDBD;
	background-color: white;
  overflow: hidden;
}

.editor-header.hidden{
  height: 0;
  border-width: 0;
}

.pcm-name{
	font-size: 2em;
	height: 1.2em;
	line-height: 1.2em;
	font-family: Roboto-Black;
}

.pcm-param{
	display: block;
  color: #9E9E9E;
}

.pcm-param b{
  font-weight: normal;
	font-family: Roboto-Bold;
  color: black;
}

/**************************************************************************************************************************************************************************/
/* action bar */
.editor-action-bar {
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	line-height: 34px;
	border-bottom: 1px solid #BDBDBD;
	background-color: #EEEEEE;
	/*box-shadow: 0 2px 4px #BDBDBD;*/
}

.editor-action-bar * {
  vertical-align: top;
}

.editor-action-bar-right-pane {
  display: inline-block;
  height: 100%;
  float: right;
  vertical-align: top;
}

.editor-action-bar .separator {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #BDBDBD;
  margin-left: 5px;
  margin-right: 5px;
}

.editor-action-bar .button {
  display: inline-block;
	box-sizing: border-box;
	min-width: 25px;
	height: 25px;
	line-height: 23px;
	padding: 0 3px 0 3px;
	margin: 5px;
	border: 1px solid transparent;
	border-radius: 2px;
	background-color: transparent;
  cursor: pointer;
  user-select: none;
  color: black;
  box-shadow: none;
  text-decoration: none;
}

.editor-action-bar .button:hover {
  border-color: #BDBDBD;
  box-shadow: 0 0 2px rgba(0,0,0,0.24);
}

.editor-action-bar .button:active {
  background-color: #E0E0E0;
}

.editor-action-bar .button.active {
  border-color: #BDBDBD;
  box-shadow: 0 0px 3px rgba(0,0,0,0.24) inset;
}

.configurator-arrow{
	transition: 0.2s;
	display: inline-block;
	position: relative;
	top: -1px;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 8px solid black;
}

.configurator-arrow.right{
	transform: rotate(180deg);
}
/**************************************************************************************************************************************************************************/
/* content : configurator and pcm-wrap */
.editor-content{
  transition: 0.2s;
	width: 100%;
	height: calc(100% - 5.6em - 35px); /* 100% - configurator-header.height - configurator-action-bar.height */
}

.editor-content.full-height{
  height: calc(100% - 35px); /* 100% - configurator-action-bar.height */
}

.configurator, .content-wrap{
	display: inline-block;
	vertical-align: top;
}

.configurator{
	transition: 0.2s;
  transition-property: width;
	box-sizing: border-box;
	width: 200px;
	height: 100%;
	overflow: auto;
	border-right: 1px solid #BDBDBD;
	background-color: #EEEEEE;
  /*box-shadow: 2px 1px 4px #BDBDBD;*/
}

.configurator.hidden{
  width: 1px;
}

.content-wrap{
	transition: 0.2s;
	width: calc(100% - 200px);
	height: 100%;
}

.content-wrap.full-width{
  width: calc(100% - 1px);
}

.content-wrap > *{
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.pcm-wrap {
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}

.pcm-wrap.cell-edit-visible {
  padding-top: 48px;
}

.cell-edit {
  transition: 0.2s;
  box-sizing: border-box;
  position: absolute;
  top: -48px;
  left: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #BDBDBD;
  padding: 0 24px 0 24px;
  white-space: nowrap;
}

.cell-edit-type {
  display: inline-block;
  background-color: #26a69a;
  color: white;
  border-radius: 2px;
  padding: 5px;
  line-height: 1em;
  margin-right: 5px;
}

.cell-edit-content {
  display: inline-block;
}

.pcm-wrap.cell-edit-visible .cell-edit {
  top: 0;
}

/**************************************************************************************************************************************************************************/
/* Feature directive */
.feature{
  min-width: 170px;
  width: 100%;
	border-bottom: 1px solid #BDBDBD;
}

.feature-button{
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	border: none;
	text-align: left;
	font-size: 1.2em;
	font-family: Roboto-Bold;
	background-color: transparent;
	cursor: pointer;
  user-select: none;
}

.feature-button:hover{
	background-color: #F5F5F5;
}

.feature-arrow{
	transition: 0.2s;
	display: inline-block;
	position: relative;
	top: -2px;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 8px solid black;
}

.feature-arrow.bottom{
	transform: rotate(90deg);
}

.feature-content-wrap{
	transition: 0.2s;
	width: 100%;
	overflow: hidden;
}

.feature-content{
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
}

.feature-content select {
  width: calc(100% - 16px);
}

.search-input{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 6px);
  height: 24px;
  padding: 0;
  margin: 8px;
  border: none;
  border-bottom: 2px solid #757575;
  outline: none;
  background-color: transparent;
}

.search-input:focus{
  border-color: #26a69a;
}

/**************************************************************************************************************************************************************************/
/* Chart */
.listChart {
  box-sizing: border-box;
	width: 100%;
	height: 42px;
	line-height: 42px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
}

.listChart img {
  transition: 0.2s;
  width: 42px;
  height: auto;
  padding: 5px;
  cursor: pointer;
  margin-right: 1px;
  border-bottom: 2px solid transparent;
}

.listChart img:hover {
  background-color: #80CBC4;
}

.listChart img.selected {
  border-color: #26a69a;
}

.imgButton {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  background-color: #26a69a;
  color: white;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
}

.imgButton:active {
  background-color: #00695C;
}

/**************************************************************************************************************************************************************************/
/* Button */
.button{
	position: relative;
	transition: 0.2s;
	box-sizing: border-box;
	min-width: 80px;
	height: 36px;
	line-height: 36px;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	border: none;
	border-radius: 2px;
	margin: 8px;
	background-color: #26a69a;
	font-family: Roboto-Medium;
	font-size: 1em;
	color: white;
	text-align: center;
	cursor: pointer;
	outline: none;
  white-space: nowrap;
  user-select: none;
}

.button *{
	vertical-align: middle;
}

.button:hover{
	box-shadow: 0 2px 2px rgba(0,0,0,0.26);
}

.button:active{
	background-color: #00897B
}

.button:focus::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.12);
}

/**************************************************************************************************************************************************************************/
/* Checkbox */
.checkbox{
  width: 100%;
  height: 32px;
  line-height: 32px;
}

/* use !important to override bootstrap */
input[type="checkbox"]{
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;

  opacity: 1 !important;
  position: relative !important;
  transition: 0.2s !important;
  box-sizing: border-box !important;
  width: 18px !important;
  height: 18px !important;
  border: 2px solid #616161;
  border-radius: 1px !important;
  margin: 7px !important;
  cursor: pointer !important;
  outline: none !important;
  pointer-events: auto !important; /* Else checkbox.less remove all events */
}

input[type="checkbox"]:checked{
	background-color: #26a69a;
  border-color: #26a69a;
}

input[type="checkbox"]::after{
  content: "";
  transition: 0.2s;
  position: absolute;
  top: 4px;
  left: 2px;
  box-sizing: border-box;
  opacity: 0;
  width: 10px;
  height: 5px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked::after{
	opacity: 1;
}

.checkbox-label{
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  max-width: calc(100% - 32px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

input[type="checkbox"]:checked+.checkbox-label{
	color: #26a69a;
}

/**************************************************************************************************************************************************************************/
/* Slider */
.slider{
  width: 100%;
  height: 32px;
  line-height: 32px;
  background: transparent;
}

.slider input{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 24px;
  padding: 0;
  border: none;
  border-bottom: 2px solid #757575;
  outline: none;
  background-color: transparent;
}

.slider input:focus{
  border-color: #26a69a;
}

.slider-range{
  display: inline-block;
  position: relative;
  width: calc(100% - 100px);
  height: 2px;
  margin: 10px;
  background-color: #757575;
  border-radius: 1px;
}

.slider-thumb{
  transition: 0.2s;
  transition-property: width, height;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #26a69a;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.slider-thumb.active{
  width: 18px;
  height: 18px;
}

/**************************************************************************************************************************************************************************/
/* PCM */
.pcm-table{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  box-shadow: 0 0 8px #BDBDBD inset;
}

.pcm-column{
  display: inline-block;
  vertical-align: top;
}

.integer, .real{
  text-align: right;
}

.pcm-column-header, .pcm-cell{
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  padding: 0 28px 0 28px;
}

.cell-img {
  display: inline-block;
  width: auto;
  height: 32px;
}

.pcm-column:first-child .pcm-column-header, .pcm-column:first-child .pcm-cell{
  padding-left: 24px;
}

.pcm-column:last-child .pcm-column-header, .pcm-column:last-child .pcm-cell{
  padding-right: 24px;
}

.pcm-column-header{
  position: relative;
  height: 56px;
  line-height: 56px;
  font-size: 1em;
  font-family: Roboto-Bold;
  color: #9E9E9E;
  cursor: pointer;
  user-select: none;
}

.pcm-column-header:hover{
  border-bottom: 2px solid #26a69a;
}

.pcm-column-header.ascending, .pcm-column-header.descending{
  color: #26a69a;
}

.other .pcm-column-header::after {
  content: "";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  vertical-align: top;
  margin-left: 12px;
}

.other .pcm-column-header.ascending::after {
  content: "arrow_downward";
}

.other .pcm-column-header.descending::after {
  content: "arrow_upward";
}

.number .pcm-column-header::before {
  content: "";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  vertical-align: top;
  margin-right: 12px;
}

.number .pcm-column-header.ascending::before {
  content: "arrow_downward";
}

.number .pcm-column-header.descending::before {
  content: "arrow_upward";
}

.pcm-cell{
  transition: 0.2s;
  height: 48px;
  max-width: 80em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 48px;
  font-size: 1.1em;
  color: #212121;
  cursor: pointer;
}

.pcm-cell:hover {
  /*border-bottom: 2px solid #26a69a;*/
  background-color: #E0F2F1;
}

.pcm-cell.selected {
  background-color: #26a69a;
  color: white;
}

.pcm-cell.selected a {
  color: white;
}

.pcm-cell.hidden{
  display: none;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.blue    { background-color: #3b8ec2; }

/*
Table version (unused)

.integer, .real{
  text-align: right !important;
}

.pcm tr{
  border-bottom: 1px solid #BDBDBD;
}

.pcm th, td{
  text-align: left;
  padding: 0 28px 0 28px;
  border-bottom: 1px solid #BDBDBD;
}

.pcm th:first-child, .pcm td:first-child{
  padding-left: 24px;
}

.pcm th:last-child, .pcm td:last-child{
  padding-right: 24px;
}

.pcm th{
  height: 56px;
  line-height: 56px;
  font-size: 1em;
  font-family: Roboto-Bold;
  color: #9E9E9E;
}

.pcm td{
  height: 48px;
  line-height: 48px;
  font-size: 1.1em;
  color: #212121;
}

.pcm td.hidden{
  display: none;
}*/
