@(id : String)

@header = {
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/handsontable/handsontable.full.min.css")'>
}

@footer = {
@if(id != null) {
    <script>
        var id = "@{Html(id)}";
    </script>
}
<script type='text/javascript' src='@routes.Assets.at("javascripts/handsontable/handsontable.full.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/kmf/pcm.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/pcm-editor-controller.js")'></script>
}

@main(true, header, footer) {

<div ng-controller="PCMEditorController">
    <input id="pcm-name" type="text" ng-model="pcm.name">
    <button role="button" class="btn btn-primary" ng-click="save()">Save</button>
    <button role="button" class="btn btn-danger" ng-click="remove()">Remove</button>



    <div id="hot">
    </div>

</div>
}

