@main(""){

<div class="jumbotron text-center">
    <h1>Open Compare</h1>

    <p>
        Product comparison matrices<br/>
        Open data<br/>
        Collaborative edition<br/>
    </p>

    <form role="form" class="form-inline" ng-controller="SearchController" action="search" method="GET">
        <input name="request" class="form-control" placeholder="Product" ng-model="request">
        <button type="submit" class="btn btn-default">Compare</button>
    </form>

    <br>
    <a type="button" class="btn btn-default" href="https://github.com/gbecan/PCM">
        <img src="assets/images/github.png"> Find out more on Github
    </a>
</div>

<!--
<div ng-controller="PCMListController">


<ul>
<li ng-repeat="pcm in pcmList">
<a href='@routes.Assets.at("repository/{{pcm}}")'>{{pcm}}</a>
</li>
</ul>

</div>
-->


}
