@(header : Html = Html(""), footer : Html = Html(""))(content: Html)


<!DOCTYPE html>
<html ng-app="pcmApp">
<head>
    <title>OpenCompare</title>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />

    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>

    @header

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarController">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#oc-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img id="navbar-logo" src='@routes.Assets.at("images/logo_inverted_transparent.png")' height="25" width="51" > OpenCompare</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="oc-navbar">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/list')}"><a href="/list">List</a></li>
                    <li ng-class="{ active: isActive('/create')}"><a href="/create">Create</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search" action="/search" method="GET">
                        <div class="form-group">
                            <input name="request" type="text" class="form-control" placeholder="Product">
                        </div>
                        <button type="submit" class="btn btn-default">Compare</button>
                    </form>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        @content
    </div>

    <!-- Scripts -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
    <script>
        var pcmApp = angular.module("pcmApp", []);
    </script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/navbar-controller.js")'></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58997269-1', 'auto');
        ga('send', 'pageview');

    </script>

    @footer
</body>
</html>
