@(id : String)

@header = {
}

@footer = {
    <script>
        var id = "@{Html(id)}";
    </script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/handsontable/handsontable.full.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/kmf/pcm.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/pcm-viewer-controller.js")'></script>
}

@main("", header, footer) {

    <div ng-controller="PCMViewerController">
        <h1 id="pcm-name">{{name}}</h1>

        <table id="viewer"></table>

        <button role="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
}