<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pcm -->
      <package
            uri="pcm"
            class="pcm.PcmPackage"
            genModel="model/pcm.genmodel"/>
   </extension>

</plugin>
